.app {
    display: flex;
    align-items: center;
    justify-content: center;
}
.none{
    display: none;
}

.board {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 90%;
    background-color: grey;
    padding: 20px 0;
    margin: 10px 0;
    border: solid black 1px;
    border-radius: 5px;
}

.noteInput {
    height: 25px;
    width: 300px;
    border: solid black 1px;
    border-radius: 3px;
}

.noteButton{
    width: 50px;
    margin: 0 3px;
    height: 24px;
    border: solid black 1px;
    border-radius: 3px;
}
.noteButton:hover{
    color: red;

}

.myNote{
    height: auto;
    width: 300px;
    border: solid black 1px;
    border-radius: 3px;
    background-color: aquamarine;
}
li{
    /*display: flex;*/
    /*justify-content: flex-start;*/
    /*align-items: center;*/
}