.app {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    min-height: 100vh;
    width: 100%;
    background-color: gainsboro;

}

.none {
    display: none;
}

.board {
    max-width: 900px;
}

.noteInput {
    height: 20px;
    min-width: 300px;
    border: solid black 1px;
    border-radius: 3px;
}

.noteButton {
    margin: auto 3px;
    width: auto;
    height: 24px;
    border: solid black 1px;
    border-radius: 3px;
    background-color: lightsteelblue;
}

.noteButton:hover {
    color: red;
    box-shadow: 0 6px 6px 0 rgba(0, 0, 0, 0.5);
    transform: scale(1.05);
}

.noteButton:active {
    background-color: grey;
    box-shadow: 0 2px darkslategray;
    transform: translateY(1px);
}

.butGroup {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 2px 2px;
}

.myNote {
    min-width: 300px;
    border: solid black 1px;
    border-radius: 3px;
    background-color: lightskyblue;
}

.myNoteList {
    height: auto;
    min-width: 350px;
    border: solid black 1px;
    border-radius: 3px;
    background-color: lightsteelblue;

}

ul, li {
    list-style-type: none;
    margin: 2px 2px;
}

li {
    display: flex;
    flex-wrap: wrap;


}

